/*
html {
	font-size: 62.5%;
}
*/
.ten_pixels{font-size:10px;
}

.sixteen_pixels{font-size:16px;
}

.fifty_pixels{font-size:50px;
}
.hundred_pixels{font-size: 100px;
}
.sans{font-family: Arial;
}
.serif{font-family: Times New Roman;
}
}